###########################################################
# Neusta Converter Bundle
###########################################################
neusta_converter:
  converter:
    ###########################################################
    # Import Converter (Page -> PimcorePage)
    ###########################################################
    neusta_pimcore_import_export.import_document:
      target: Pimcore\Model\Document
      populators:
        - neusta_pimcore_import_export.documents.import.populator.id
        - neusta_pimcore_import_export.documents.import.populator.key
        - neusta_pimcore_import_export.documents.import.populator.type
        - neusta_pimcore_import_export.documents.import.populator.published
        - neusta_pimcore_import_export.documents.import.populator.path
        - neusta_pimcore_import_export.documents.import.populator.parentId

    neusta_pimcore_import_export.import_page:
      target: Pimcore\Model\Document\Page
      populators:
        - neusta_pimcore_import_export.documents.import.populator.id
        - neusta_pimcore_import_export.documents.import.populator.key
        - neusta_pimcore_import_export.documents.import.populator.title
        - neusta_pimcore_import_export.documents.import.populator.controller
        - neusta_pimcore_import_export.documents.import.populator.type
        - neusta_pimcore_import_export.documents.import.populator.published
        - neusta_pimcore_import_export.documents.import.populator.path
        - neusta_pimcore_import_export.documents.import.populator.parentId
        - Neusta\Pimcore\ImportExportBundle\Populator\Document\EditablesPopulator
        - Neusta\Pimcore\ImportExportBundle\Populator\Document\PropertiesPopulator
        - Neusta\Pimcore\ImportExportBundle\Populator\Document\PageTitlePopulator

    neusta_pimcore_import_export.import_snippet:
      target: Pimcore\Model\Document\Snippet
      populators:
        - neusta_pimcore_import_export.documents.import.populator.id
        - neusta_pimcore_import_export.documents.import.populator.key
        - neusta_pimcore_import_export.documents.import.populator.controller
        - neusta_pimcore_import_export.documents.import.populator.type
        - neusta_pimcore_import_export.documents.import.populator.published
        - neusta_pimcore_import_export.documents.import.populator.path
        - neusta_pimcore_import_export.documents.import.populator.parentId
        - Neusta\Pimcore\ImportExportBundle\Populator\Document\EditablesPopulator
        - Neusta\Pimcore\ImportExportBundle\Populator\Document\PropertiesPopulator

services:
  _defaults:
    autowire: true
    autoconfigure: true

  ###########################################################
  # Import Populator (Page -> Document)
  ###########################################################
  neusta_pimcore_import_export.documents.import.populator.id:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: id
      $defaultValue: 0

  neusta_pimcore_import_export.documents.import.populator.key:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: key

  neusta_pimcore_import_export.documents.import.populator.title:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: title
      $defaultValue: 'no title'

  neusta_pimcore_import_export.documents.import.populator.controller:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: controller
      $defaultValue: 'no controller'

  neusta_pimcore_import_export.documents.import.populator.type:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: type
      $defaultValue: 'page'

  neusta_pimcore_import_export.documents.import.populator.published:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: published
      $defaultValue: false

  neusta_pimcore_import_export.documents.import.populator.path:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: path
      $defaultValue: '/'

  neusta_pimcore_import_export.documents.import.populator.parentId:
    class: Neusta\Pimcore\ImportExportBundle\Populator\ArrayPropertyPopulator
    arguments:
      $targetProperty: parentId
      $defaultValue: 0

  Neusta\Pimcore\ImportExportBundle\Populator\Document\PropertiesPopulator: ~
  Neusta\Pimcore\ImportExportBundle\Populator\Document\EditablesPopulator: ~
  Neusta\Pimcore\ImportExportBundle\Populator\Document\PageTitlePopulator: ~
