services:
  _defaults:
    autowire: true
    autoconfigure: true

  ############
  # Commands #
  ############
  # auto-register all commands as services
  Neusta\Pimcore\ImportExportBundle\Command\:
    resource: '../src/Command/*'
    tags: [ 'console.command' ]

  ##############
  # Controller #
  ##############
  Neusta\Pimcore\ImportExportBundle\Controller\Admin\ExportAssetsController:
    public: true
    tags: [ 'controller.service_arguments' ]

  Neusta\Pimcore\ImportExportBundle\Controller\Admin\ExportDataObjectsController:
    public: true
    tags: [ 'controller.service_arguments' ]

  Neusta\Pimcore\ImportExportBundle\Controller\Admin\ExportDocumentsController:
    public: true
    tags: [ 'controller.service_arguments' ]

  Neusta\Pimcore\ImportExportBundle\Controller\Admin\ImportAssetsController:
    public: true
    tags: [ 'controller.service_arguments' ]

  Neusta\Pimcore\ImportExportBundle\Controller\Admin\ImportDocumentsController:
    public: true
    tags: [ 'controller.service_arguments' ]

  Neusta\Pimcore\ImportExportBundle\Controller\Admin\ImportDataObjectsController:
    public: true
    tags: [ 'controller.service_arguments' ]

  ############
  # Importer #
  ############
  Neusta\Pimcore\ImportExportBundle\Import\Importer:
    class: Neusta\Pimcore\ImportExportBundle\Import\Importer
    arguments:
      $typeToConverterMap:
        Pimcore\Model\Asset: '@neusta_pimcore_import_export.import_asset'
        Pimcore\Model\Document: '@neusta_pimcore_import_export.import_document'
        Pimcore\Model\DataObject\Concrete: '@neusta_pimcore_import_export.import_object'
      $parentRelationResolver: '@Neusta\Pimcore\ImportExportBundle\Import\ParentRelationResolver'
      $serializer: '@Neusta\Pimcore\ImportExportBundle\Serializer\SerializerStrategy'

  ############
  # Exporter #
  ############
  Neusta\Pimcore\ImportExportBundle\Export\Exporter:
    class: Neusta\Pimcore\ImportExportBundle\Export\Exporter
    arguments:
      $typeToConverterMap:
        Pimcore\Model\Asset: '@neusta_pimcore_import_export.strategy.export_asset'
        Pimcore\Model\Document: '@neusta_pimcore_import_export.strategy.export_document'
        Pimcore\Model\DataObject\Concrete: '@neusta_pimcore_import_export.export_object'
      $serializer: '@Neusta\Pimcore\ImportExportBundle\Serializer\SerializerStrategy'

  ##############
  # Service    #
  ##############
  Neusta\Pimcore\ImportExportBundle\Export\Service\ZipService: ~

  Neusta\Pimcore\ImportExportBundle\Import\ParentRelationResolver: ~

  Neusta\Pimcore\ImportExportBundle\Toolbox\Repository\AssetRepository: ~
  Neusta\Pimcore\ImportExportBundle\Toolbox\Repository\DataObjectRepository: ~
  Neusta\Pimcore\ImportExportBundle\Toolbox\Repository\DocumentRepository: ~


  ##############
  # Serializer #
  ##############
  Neusta\Pimcore\ImportExportBundle\Serializer\SerializerInterface:
    alias: Neusta\Pimcore\ImportExportBundle\Serializer\SerializerStrategy

  Neusta\Pimcore\ImportExportBundle\Serializer\SerializerStrategy:
    arguments:
      $formatToSerializerMap:
        yaml: '@Neusta\Pimcore\ImportExportBundle\Serializer\YamlSerializer'
        json: '@Neusta\Pimcore\ImportExportBundle\Serializer\JsonSerializer'

  Neusta\Pimcore\ImportExportBundle\Serializer\YamlSerializer: ~
  Neusta\Pimcore\ImportExportBundle\Serializer\JsonSerializer: ~

  #################
  # EventListener #
  #################
  Neusta\Pimcore\ImportExportBundle\EventListener\PimcoreAdminListener:
    tags:
      - { name: kernel.event_listener, event: pimcore.bundle_manager.paths.js, method: addJSFiles }
