###########################################################
# Neusta Converter Bundle
###########################################################
neusta_converter:
  converter:
    ###########################################################
    # Import Converter (YamlExportPage -> Page)
    ###########################################################
    neusta_pimcore_import_export.import_page:
      target: Pimcore\Model\Document\Page
      populators:
        - Neusta\Pimcore\ImportExportBundle\Documents\Import\PageImportPopulator
      properties:
        id:
          source: id
          default: 0
        key: ~
        title:
          source: title
          default: 'no title'
        controller:
          source: controller
          default: 'no controller'
        type:
          source: type
          default: 'page'
        published:
          source: published
          default: false
        path:
          source: path
          default: '/'
        parentId:
          source: parentId
          default: 0

    ###########################################################
    # Export Converter (Page -> YamlExportPage)
    ###########################################################
    neusta_pimcore_import_export.export_page:
      target: Neusta\Pimcore\ImportExportBundle\Documents\Export\YamlExportPage
      populators:
        - neusta_pimcore_import_export.page.property.language.populator
        - neusta_pimcore_import_export.page.property.navigation_title.populator
        - neusta_pimcore_import_export.page.property.navigation_name.populator
        - neusta_pimcore_import_export.page.editables.populator
      properties:
        id: ~
        key: ~
        title: ~
        controller: ~
        type: ~
        published: ~
        path: ~
        parentId: ~

    neusta_pimcore_import_export.editable_converter:
      target: Neusta\Pimcore\ImportExportBundle\Documents\Export\YamlExportEditable
      properties:
        type: ~
        name: ~
        data: ~
